/Retrieve-and-Edit-Framework/datasets/*
pickle_files/
repo_files/
scrape_github/
DataClass/repo_files/
DataClass/__pycache__/
/contextual_autocomplete/github/
electron_line_pairs.csv
lantern_line_pairs.csv
*.csv
rulebased_examples_second/train.csv") '): []}]
rulebased_examples_second/strategies_std_interactions.csv" '): []}]
rulebased_examples_second/linksWY%d.csv' % i, ic=eop) "): []}, {(0, ' for i in range(1922,2004): \n   print', "('\\nNow running WY %d' % i) "): []}, {(0, ' eop = None \n for', ' i in range(1922,2004): '): []}]
rulebased_examples_second/data_master.csv', 'rU') as file: "): []}]
rulebased_examples_first/train.csv") '): []}]
rulebased_examples_first/strategies_std_interactions.csv" '): []}]
rulebased_examples_first/linksWY%d.csv' % i, ic=eop) "): []}, {(0, ' for i in range(1922,2004): \n   print', "('\\nNow running WY %d' % i) "): []}, {(0, ' eop = None \n for', ' i in range(1922,2004): '): []}]
rulebased_examples_first/data_master.csv', 'rU') as file: "): []}]
checkpoint-120000.pth
checkpoint-ruleseq2seq.pth
meta-predictions.txt
rulebased_examples_second/.DS_Store
rulebased_examples_first/.DS_Store
SentenceVAE/
