/Retrieve-and-Edit-Framework/datasets/*
pickle_files/
repo_files/
scrape_github/
DataClass/repo_files/
DataClass/__pycache__/
/contextual_autocomplete/github/
electron_line_pairs.csv
lantern_line_pairs.csv
